.customNav {
  background-color: #221f1f;
}

.customFooter {
  background-color: #221f1f;
}

.bg-container {
  background-color: #221f1f;
}

.footerButton {
  color: #838383;
  border-color: #838383;
}
